.card-events{
    box-shadow: rgba(186, 59, 203, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /* border-style: double; */
    display: flex;
    justify-content: space-around;
    margin: 40px 50px 80px 50px;
    background-color: rgb(243, 241, 243);
}
img{
    margin: 20px 20px;
    width: 120vw;
    height: 70vh;
}
.descriptions{
    margin: 5%;
    font-style: italic;
   
    text-align: justify;
    justify-items: center;
    justify-content: center;
    font-size: 18px;
    color: rgb(11, 119, 83);

}
.yawm-maftouh{
    margin: 10px 0 10px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* border-style: dashed; */
    width: 200vw;
    height: 80vh;
}
.yawm-maftouh img{
    
width: 18vw;
height: 35vh;
}