.card-student{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 20px ;

}
.student{
    background-color: rgb(243, 241, 243);
    display: flex;
    flex-direction: column;
   width: 25vw;
   height: 60vh;
   margin: 30px 30px ;
   box-shadow:  rgba(194, 150, 197, 0.56) 0px 22px 70px 4px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.st-description{
    justify-content: center;
}
.student img{
    
   width: 80%;
   height: 90%;
  margin: 20px;
}