*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

.App {

  text-align: center;
}
.container{
  min-height:calc(100vh - 60px);
}
.App{
  background-color: rgb(234, 238, 230);
  /* background-image: url("D:\GO MY CODE\GoMyCode\My Project (C.E.M.)\chessmetouia\public\logo.jpg"); */
  
  background-size: auto; 
}
h1{
  font-size: 60px;
  text-shadow:#e7f6ff 0 -1px 0,
#025a14 1px 1px 0,
#0c5703 2px 2px 0,
#131212 3px 3px 0,
#9b0102 4px 4px 0,
#541402 5px 5px 0,
#333 5px 5px 10px;color:#f0f0ef;

}
.home img{
  height: 50vh;
}
